<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>NKUSearchEngine</title>
</head>

<body>
	<table width="300" border="0" cellpadding="1" cellspacing="0" align="center">
		<tbody>
			<tr>
				<th height="200" scope="col" align="center">
					<form method="get" action="search">
						<table>
							<tbody>
								<tr>
									<td colspan="2" align="center">
										<label for="teamName">搜索</label>
									</td>
								</tr>
								<tr>
									<td><input type="text" name="search" id="search"></td>
								</tr>
								<tr>
									<td colspan="2" align="center">
										<input type="reset">
										<input type="submit" name="submit">
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</th>
			</tr>
		</tbody>
	</table>
</body>

</html>